@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Reem+Kufi:regular,500,600,700);


html{
  font-family: 'Reem kufi', 'Helvet',sans-serif;
}

body{
  /* @apply bg-gray-50; */

  /* background:url('./Assets/images/bg.jpg'); */
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

input{
  width:100%;
  background: transparent;
}

.searches::-webkit-scrollbar{
  display: none;
}

.coursesOutline::-webkit-scrollbar{
  display: none;
}

.searches {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.coursesOutline {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}