.fc .fc-col-header-cell-cushion {
  font-size: 0.5rem !important;
}
.fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-slot-label-cushion {
  font-size: 0.8rem !important;
}
.fc .fc-toolbar-title {
  font-size: 0.7rem !important;
}
.fc .fc-button-primary {
  font-size: 0.5rem !important;
}
.fc-toolbar-chunk {
  display: flex;
  justify-content: center;
  align-content: center;
}
.fc-scroller {
  overflow-x: auto !important;
  overflow-y: auto !important;
}
.fc-col-header {
  width: 100% !important;
}

.fc-daygrid-body.fc-daygrid-body-unbalanced.fc-daygrid-body-natural,
.fc-scrollgrid-sync-table,
.fc-timegrid-body ,.fc-timegrid-slotsm,.fc-timegrid-cols table,.fc-timegrid-slots table
{
  width: 100% !important;
}
.fc-timegrid-axis-cushion.fc-scrollgrid-shrink-cushion.fc-scrollgrid-sync-inner{
  font-size: 0.6rem!important;
}
